<!DOCTYPE html>
<html>
  <head>
    <title>Boom</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Favicons-->
    <%= render 'layouts/favicon' %>

    <!-- Web Fonts-->
    <%= stylesheet_link_tag    "https://fonts.googleapis.com/css?family=Poppins:400,500,600%7cPlayfair+Display:400i" %>
    <%= stylesheet_link_tag    "https://use.fontawesome.com/releases/v5.0.6/css/all.css" %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%= yield %>
    <%= javascript_include_tag 'http://maps.googleapis.com/maps/api/js?key=AIzaSyA0rANX07hh6ASNKdBr4mZH0KZSqbHYc3Q' %>
  </body>
</html>
